body {
    font-family: Georgia, "Times New Roman",
          Times, serif;
    color: red;
    background-color: black }
h1 {
    font-family: Helvetica, Geneva, Arial,
          SunSans-Regular, sans-serif }
