<!DOCTYPE html>
<html>
   <head>
      <title> Museum </title>
      {% load static from staticfiles %}
      <link rel="stylesheet" href="{% static 'bootstrap.css' %}" />
      <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css" rel="stylesheet">
      <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
      <link rel="stylesheet" href="{% static 'custom.css' %}" />

   </head>
<body>

   <div class="navbar navbar-inverse navbar-default">
     <div class="navbar-inner">
       <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
       </button>
       <a class="navbar-brand" href="/"></a>

   <ul class="nav navbar-text pull-right">
    {% if previous != 0 %}
    <li><a href="http://museum.syssrc.com/artifacts/{{ previous }}"><span class="icon-circle-arrow-left icon-2x"> Previous</span></a></li>
    {% endif %}
    {% if next != 0 %}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <li><a href="http://museum.syssrc.com/artifacts/{{ next }}"><span class="icon-2x">Next </span><span class="icon-circle-arrow-right icon-2x"></span></a></li>
   {% endif %}
  </ul>
     </div>
   </div>


   <div class="container">
 
   <p style="text-align:left">
    {% if previous != 0 %}
    <a href="http://museum.syssrc.com/artifacts/{{ previous }}"><span class="icon-circle-arrow-left icon-2x"> Previous</span></a>
    {% endif %} {{ artifact.id }}
    {% if next != 0 %}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="http://museum.syssrc.com/artifacts/{{ next }}"><span class="icon-2x">Next </span><span class="icon-circle-arrow-right icon-2x"></span></a>
   {% endif %}
  </p>
      <div class="row">
         <div class="col-md-6"><img src="{{ artifact.url }}" width="500"></div>
         <div class="col-md-6"> <strong>{{artifact.title}}</strong><br />{{ artifact.description }}</div>
         
      </div>
 </div>

  <div class="container">
    <div class="row">
      <div class="col-md-12 visible-sm">
        <p><br />Screen Size: Mobile Phone</p>
      </div>
    </div><!-- end of "row" -->

    <div class="row">
      <div class="col-md-12 visible-md">
        <p><br />Screen Size: Tablet</p>
      </div>
    </div><!-- end of "row" -->

    <div class="row">
      <div class="col-md-12 visible-lg">
        <p><br />Screen Size: Desktop Computer</p>
      </div>
    </div><!-- end of "row" -->
  </div>
</body>
</html>
